<div id="loading-container"></div>
<template id="skeleton-container">
  <div class="w-[80%] mx-auto p-3 bg-white shadow-lg rounded-md my-2">
    <div class="flex items-center gap-2">
      <div
        class="skeleton skeleton-image h-8 w-8 rounded-full object-cover"
      ></div>
      <div class="skeleton skeleton-header-title"></div>
    </div>
    <hr />
    <div class="skeleton skeleton-title"></div>
    <div class="flex gap-2 my-2">
      <div class="skeleton skeleton-text-box"></div>
      <div class="skeleton skeleton-text-box"></div>
      <div class="skeleton skeleton-text-box"></div>
    </div>
    <div class="skeleton skeleton-text"></div>
    <div class="skeleton skeleton-text"></div>
    <div class="skeleton skeleton-text"></div>
    <div class="skeleton skeleton-text"></div>
    <div class="skeleton skeleton-card-container"></div>
    <hr />
    <div class="skeleton skeleton-footer"></div>
  </div>
</template>
