<div class="pt-2">
  <div
    class="oj-flex p-3 items-center justify-between h-[70px] w-full mb-2 bg-teal-600 sticky top-0 z-10"
  >
    <span class="text-white text-2xl font-bold">Oracle Share</span>
    <oj-input-search
      id="search1"
      class="oj-form-control-max-width-md border-none shadow-none"
      value="{{searchValue}}"
      raw-value="{{searchRawValue}}"
      on-oj-value-action="[[handleValueAction]]"
      placeholder="Search Posts..."
      aria-label="User search field"
    ></oj-input-search>
    <div class="flex items-center">
      <div class="flex items-center gap-3 mr-8">
        <div class="relative">
          <span
            class="oj-ux-ico-notification text-white text-2xl cursor-pointer"
            role="img"
            aria-label="notification"
            data-bind="click:modalOpen"
          ></span>
          <oj-dialog
            id="modalDialogNotification"
            dialog-title="Notifications"
            aria-describedby="desc"
          >
            <div slot="body">
              <oj-bind-for-each data="[[notificationList]]">
                <template>
                  <div class="flex items-center gap-2 m-2">
                    <img
                      class="w-8 h-8 rounded-full object-cover"
                      :src="[[`data:image/jpeg;base64,${$current.data.profileImage}`]]"
                    ></img>
                    <div>
                      <strong class="text-[#4264b2]">
                        <oj-bind-text
                          value="[[$current.data.senderName]]"
                        ></oj-bind-text>
                      </strong>
                      <span> </span>
                      <span>
                        <oj-bind-text
                          value="[[$current.data.message]]"
                        ></oj-bind-text>
                        <span> </span>
                        <strong>
                          <oj-bind-text
                          value="[[$current.data.postTitle]]"
                          ></oj-bind-text>
                        </strong>
                        <span class="text-[#8f098f]">
                          <oj-bind-text
                          value="[[$current.data.content]]"
                          ></oj-bind-text>
                        </span>
                      </span>
                    </div>
                  </div>
                  <span class="italic ml-auto text-teal-600 text-xs">
                     <oj-bind-text
                          value="[[$current.data.dateCreated]]"
                        ></oj-bind-text>
                  </span>
                  <hr/>
                </template>
                <template slot="noData"> No new notifications </template>
              </oj-bind-for-each>
            </div>
            <div slot="footer">
              <oj-button id="okButton" on-oj-action="[[closeModal]]"
                >Close</oj-button
              >
            </div>
          </oj-dialog>
          <div
            class="absolute h-4 w-4 text-white rounded-full bg-red-600 grid place-content-center text-xs top-[-8px] right-[-2px]"
          >
            <oj-bind-text value="[[notificationList().length]]"></oj-bind-text>
          </div>
        </div>
        <div class="relative">
          <span
            class="oj-ux-ico-user-available text-white text-2xl"
            role="img"
            aria-label="user"
          ></span>
          <!-- <div
            class="absolute h-4 w-4 text-white rounded-full bg-red-600 grid place-content-center text-xs top-[-8px] right-[-2px]"
          >
            0
          </div> -->
        </div>
        <div class="relative cursor-pointer" data-bind="click:()=>activeTab('community')">
          <span
            class="oj-ux-ico-chat text-white text-2xl"
            role="img"
            aria-label="chat"
          ></span>
          <div
            class="absolute h-4 w-4 text-white rounded-full bg-red-600 grid place-content-center text-xs top-[-8px] right-[-2px]"
          >
             <oj-bind-text value="[[messaggeCounter]]"></oj-bind-text>
          </div>
        </div>
      </div>
      <oj-avatar
        slot="leading"
        size="xs"
        src="[[user().profileImage]]"
      ></oj-avatar>
    </div>
  </div>
  <div class="flex">
    <div class="flex-[0.25] sticky h-[calc(100vh-200px)] px-2 top-[80px]">
      <oj-navigation-list
        selection="{{activeTab}}"
        display="all"
        aria-label="Choose a navigation item"
        drill-mode="none"
        data="[[navDataProvider]]"
      >
        <template slot="itemTemplate" data-oj-as="item">
          <li :class="[[{'oj-disabled' : item.data.disabled === 'true'}]]">
            <a href="#">
              <span
                :class="[['oj-navigationlist-item-icon ' + item.data.icons]]"
              ></span>
              <oj-bind-text value="[[item.data.name]]"></oj-bind-text>
            </a>
          </li>
        </template>
      </oj-navigation-list>
    </div>
    <div class="flex-[0.50]">
      <oj-switcher value="[[activeTab()]]">
        <div
          slot="home"
          data-bind="ojModule:{name:'socialHome',params:{activeTab}}"
        ></div>
        <div
          slot="create"
          data-bind="ojModule:{name:'createPost',params:{activeTab}}"
        ></div>
        <div slot="search" class="p-2">
          <div class="my-2 w-[50%] mx-auto">
            <oj-select-single
              id="selectSearchOptions"
              data="[[searchOptionsProvider]]"
              value="{{searchOptions}}"
              label-hint="Search by"
              on-value-changed="[[getSearchResults]]"
            ></oj-select-single>
          </div>
          <oj-bind-if test="[[searchLoading]]">
            <div data-bind="ojModule:{name:'loadingPost'}"></div>
          </oj-bind-if>
          <div class="flex flex-col gap-2">
            <oj-bind-for-each data="[[searchRes]]">
              <template data-oj-as="post">
                <div
                  data-bind="ojModule:{name:'Post',params:{post:post.data.post  ,user:post.data.user}}"
                ></div>
              </template>
              <template slot="noData">
                <div class="my-2 text-center">
                  <oj-bind-text
                    value="We did not find any post for your search"
                  ></oj-bind-text>
                </div>
              </template>
            </oj-bind-for-each>
          </div>
        </div>
        <div slot="gallery" data-bind="ojModule:{name:'gallery'}"></div>
        <div
          slot="community"
          data-bind="ojModule:{name:'community',params:config[activeTab()]}"
        ></div>
      </oj-switcher>
      <oj-bind-if test="[[postListMatch]]">
        <div
          data-bind="ojModule:{name:'postList',params:config[activeTab()]}"
        ></div>
      </oj-bind-if>
    </div>
    <div
      class="flex-[0.25] p-2 translate-x-[-30px] sticky min-h-[100vh] max-h-[120vh] rightbarScroll overflow-y-scroll px-2 top-[80px]"
    >
      <p>
        <span class="oj-ux-ico-artifacts text-teal-600 text-xl mr-2"></span>
        <span class="font-bold text-[#4264b2]">Robert Downey </span>
        and <span class="font-bold">3 others</span> have posted recently.
      </p>
      <div class="my-2">
        <img src="./assets/ad.png" class="w-full object-cover rounded-md" />
      </div>
      <h6 class="text-teal-600 flex items-center gap-2">
        <span class="oj-ux-ico-trending-up text-[30px] text-red-600"></span>
        <span>Trending Posts</span>
      </h6>
      <oj-list-view
        id="listview"
        aria-label="simple list"
        data="[[trendinPostDataProvider]]"
        class="oj-listview-item-padding-off"
      >
        <template slot="itemTemplate" data-oj-as="item">
          <oj-list-item-layout
            class="cursor-pointer"
            data-bind="click:()=>activeTab('trending')"
          >
            <span class="oj-typography-body-md oj-text-color-primary">
              <oj-bind-text value="[[item.data.post.title]]"></oj-bind-text>
            </span>
            <oj-avatar
              slot="leading"
              size="xs"
              src="[[item.data.user.profileImage]]"
            ></oj-avatar>
            <span
              slot="secondary"
              class="oj-typography-body-sm oj-text-color-secondary"
            >
              <oj-bind-text value="[[item.data.user.firstName]]"></oj-bind-text>
            </span>
          </oj-list-item-layout>
        </template>
        <template slot="noData">
          <div>
            <div class="flex items-center gap-2">
              <div
                class="skeleton skeleton-image h-8 w-8 rounded-full object-cover"
              ></div>
              <div class="skeleton skeleton-header-title"></div>
            </div>
            <div class="flex items-center gap-2">
              <div
                class="skeleton skeleton-image h-8 w-8 rounded-full object-cover"
              ></div>
              <div class="skeleton skeleton-header-title"></div>
            </div>
          </div>
        </template>
      </oj-list-view>
    </div>
  </div>
</div>
