/*
    Document   : override
    Created on : <date>
    Author     : <author>
    Description:
        This is where any of your application specific styles should be included
*/

.sendOffScreen {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.demo-oracle-icon {
  width: 137px;
  height: 18px;
}

.demo-oracle-icon:before {
  content: url("images/oracle_logo.svg");
}

html:not([dir="rtl"]) .demo-oracle-icon {
  padding-right: 4px;
}

html[dir="rtl"] .demo-oracle-icon {
  padding-left: 4px;
}

.demo-oracle-icon:before {
  display: inline;
}

.demo-appheader-avatar {
  width: 24px;
  height: 24px;
}

.demo-appheader-avatar:before {
  content: url("images/avatar_24px.png");
}
@media (-webkit-min-device-pixel-ratio: 1.5),
  (min-resolution: 144dpi),
  (min-resolution: 1.5dppx) {
  .demo-appheader-avatar:before {
    content: url("images/avatar_24px_2x.png");
    -webkit-transform: translate(-25%, -25%) scale(0.5);
    transform: translate(-25%, -25%) scale(0.5);
  }
}

/* home-page */

.home-container {
  height: 78vh;
  width: 100%;
  background-image: linear-gradient(
    to right top,
    #c6340d,
    #d42a26,
    #e11f3b,
    #eb1451,
    #f30e67
  );

  overflow: hidden;
  color: white;
  position: relative;
}

.bg-gradient-red {
  background-image: linear-gradient(
    to right top,
    #c6340d,
    #d42a26,
    #e11f3b,
    #eb1451,
    #f30e67
  );
}
.bg-wave {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  object-fit: contain;
  z-index: 0;
}

.home-container-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 0px 10px;
  justify-content: space-between;
  align-items: center;
}

.home-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  transform: translateY(30px);
  transition: all 0.8s ease-in-out;
}
.home-left.loaded {
  transform: translateX(0);
}

.home-left > h1 {
  font-size: 4rem;
}

.home-left > p {
  font-weight: 400;
  font-size: 1.2rem;
  letter-spacing: 1px;
  margin: 20px 0px;
}

.home-right {
  flex: 1;
  z-index: 2;
  padding: 20px;
}

.home-prop-img {
  max-height: 450px;
  object-fit: cover;
  transform: scale(0.8);
  opacity: 0.7;
  transition: all 0.8s ease-in-out;
}

.home-prop-img.loaded {
  opacity: 1;
  transform: scale(1);
}

.max-w-seventy-five {
  max-width: 75% !important;
}

.address-card {
  position: relative;
  overflow: hidden;

  background-color: teal;
  border-radius: 10px;
  width: 250px;
  isolation: isolate;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.address-card:hover {
  background-color: rgb(2, 85, 85);
}
.address-card::before {
  content: "";
  width: 200px;
  height: 200px;
  background-color: white;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(75%, -10%);
  width: 400px;
  height: 400px;
  border-radius: 50%;
  opacity: 0.4;
  z-index: -1;
}
.glassoformism {
  background: rgba(244, 223, 223, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
}
